html, body  {
  background-color: #323639;
}

.white  {
  color: white;
}

.italics  {
  font-style: italic;
}

.black  {
  color: black;
}

.mapDiv {
  height:100%;
  width:100%;
}

#dogImage {
  max-width: 800px;
  max-height: 800px;
}

#chartContainer {
  width: 100%;
  height: auto;
}

#map {
  height: 800px;
}
